* {
	margin: 0;
	padding: 0;
}

body {
	background: white;
}

div.clearfix {
	display: inline-block;
	margin: 40px;
}

div.image {
	margin: 30px;
	position: relative;
	float: left;
}

span.bottom_shadow {
	height: 8px;
	background: url('../images/bottom_shadow.png');
	bottom: -8px;
	left: 7px;
	right: 0;
	position: absolute;
	float:left;
}

span.bottom_left_shadow {
	height: 8px;
	width: 7px;
	background: url('../images/bottom_left_shadow.png');
	bottom: -8px;
	position: absolute;
	float:left;
}

span.top_right_shadow {
	height: 16px;
	width: 7px;
	background: url('../images/top_right_shadow.png');
	top: 0;
	bottom: 0;
	right: -7px;
	position: absolute;
	float:left;
}

span.right_shadow {
	width: 7px;
	background: url('../images/right_shadow.png');
	top: 16px;
	bottom: 0;
	right: -7px;
	position: absolute;
	float:left;
}

span.bottom_right_shadow {
	width: 7px;
	height: 8px;
	background: url('../images/bottom_right_shadow.png');
	bottom: -8px;
	right: -7px;
	position: absolute;
	float:left;
}