<div data-role="content" id="Div1">
    <div data-theme="a" data-role="header">
         
        <h3>
            Add account
        </h3>

        <button ng-click='goBack()'>Back</button>

        <a id="save-account-button" data-role="button" href="#page1" data-icon="save" data-iconpos="right"
    class="ui-btn-right">
        Save
    </a>
    </div>
    <div data-role="content">
        <div data-role="fieldcontain" id="select-account-menu">
            <label for="selectmenu2">
                Type:         
            </label>
            <select id="type" id="selectmenu2" name="Type" data-theme="d">
                <option value="debit" data-theme="b">Debit Card
            </option>
                <option value="credit" data-theme="b">Credit Card
            </option>
                <option value="bank" data-theme="b">Bank Account
            </option>
            </select>
        </div>
        <div data-role="fieldcontain">
            <label for="textinput2">
                Name:
       
            </label>
            <input name="" id="name" placeholder="" value="" type="text" data-mini="true" />
        </div>
        <div data-role="fieldcontain">
            <label for="textinput3">
                Balance:           
            </label>
            <input name="" id="balance" placeholder="" value="" type="text" data-mini="true" />
        </div>
       <div data-role="fieldcontain", id="addAccountButton">
            <label>
                Date:           
            </label>                
            <input type="text" id="datepicker" />
        </div>
        <!-- <a id="add-account-button" data-role="button" data-theme="b" href="#page1" >Add</a> -->
    </div>
</div>