@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Social</h3>
    </header>
    <p>
        <span class="label">Gmail:</span>
        <span><a href="mailto:dininski@gmail.com">dininski@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Facebook:</span>
        <span><a href="http://www.facebook.com/dininski">facebook.com/dininski</a></span>
    </p>
    <p>
        <span class="label">Blog:</span>
        <span><a href="http://www.vasil.me">vasil.me</a></span>
    </p>
</section>