<div class="row-fluid well no-padding">
    <div class="span12 text-center">
        <h2>Admin panel</h2>
    </div>
</div>

<div class="row-fluid no-padding">
    <div class="span2 well">
        @Html.ActionLink("Manage Profiles", "ManageUsers", new { Controller = "Admin" }, new { id = "manage-users" })
        Manage users
    </div>
</div>