#carouselWrapper {
    width: 500px;
    position: relative;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

#carousel {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
    height: 400px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

    #carousel li {
        float: left;
        margin: 0;
        padding: 0;
        width: 500px;
        height: 400px;
        border: 0;
    }

#carouselPreviews {
    width: 500px;
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
    height: 100px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

    .thumb img{
        float: left;
        margin: 0;
        padding: 0;
        width: 125px;
        height: 100px;
        border: 0;
    }

#carousel_nav {
    width: 550px;
    position: relative;
    top: -200px;
    margin: 0 auto;
}

#prev_img {
    float: left;
}

#next_img {
    float: right;
}

li img {
    border: 0;
    width: 500px;
    height: 400px;
}
