<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="29954Dininski.RottenBrowser" Version="0.0.2.4" Publisher="CN=6257BDE4-59B4-4795-A316-015D027928B1" />
  <Properties>
    <DisplayName>Rotten Browser</DisplayName>
    <PublisherDisplayName>Dininski</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Rotten Browser" Logo="images\icon.jpg" SmallLogo="images\small-image.png" Description="RottenBrowser" ForegroundText="dark" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="images\wide-icon.jpg" />
        <SplashScreen Image="images\splash.jpg" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>